/* ==========================================================================
   Header styles - begin
   ========================================================================== */
/* common mixins - start */
/* common mixins - end */
/* mixins styles - start */
/* mixins styles - end */
/* ==========================================================================
   Header styles - begin
   ========================================================================== */
.mkdf-page-header {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  margin: 0;
  padding: 0;
  z-index: 110;
  box-sizing: border-box;
  /* ==========================================================================
    #General header layout - start
    ========================================================================== */
  /* ==========================================================================
    #General header layout - end
    ========================================================================== */
  /* ==========================================================================
    #Logo area styles - start
    ========================================================================== */
  /* ==========================================================================
    #Logo area styles - end
    ========================================================================== */
  /* ==========================================================================
    #Menu area styles - start
    ========================================================================== */
  /* ==========================================================================
    #Menu area styles - end
    ========================================================================== */
  /* ==========================================================================
    #Specific styles - start
    ========================================================================== */
  /* ==========================================================================
    #Specific styles - end
    ========================================================================== */
}

.mkdf-page-header a img {
  display: block;
}

.mkdf-page-header p {
  margin: 0;
}

.mkdf-page-header .mkdf-vertical-align-containers {
  padding: 0 40px;
}

.mkdf-paspartu-enabled .mkdf-page-header .mkdf-vertical-align-containers {
  padding: 0;
}

.mkdf-page-header .mkdf-grid {
  height: 100%;
}

.mkdf-page-header .mkdf-grid .mkdf-vertical-align-containers {
  padding: 0;
  -webkit-transition: background-color 0.3s ease;
  -moz-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

.mkdf-page-header .mkdf-logo-area {
  position: relative;
  height: 100px;
  overflow: hidden;
  background-color: #fff;
}

.mkdf-page-header .mkdf-logo-area .mkdf-logo-wrapper a {
  max-height: 100px;
}

.mkdf-page-header .mkdf-menu-area {
  position: relative;
  height: 100px;
  background-color: #fff;
  box-sizing: border-box;
}

.mkdf-boxed .mkdf-page-header .mkdf-menu-area {
  padding: 0;
}

.mkdf-page-header .mkdf-menu-area .mkdf-logo-wrapper a {
  max-height: 100px;
}

.mkdf-page-header .mkdf-menu-area .widget {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
}

.mkdf-logo-area-border-disable .mkdf-page-header .mkdf-logo-area {
  border: none;
}

.mkdf-logo-area-in-grid-border-disable .mkdf-page-header .mkdf-logo-area .mkdf-grid .mkdf-vertical-align-containers {
  border: none;
}

.mkdf-header-logo-area-in-grid-padding .mkdf-page-header .mkdf-logo-area .mkdf-vertical-align-containers {
  padding: 0 25px;
}

.mkdf-menu-area-shadow-disable .mkdf-page-header .mkdf-menu-area {
  box-shadow: none;
}

.mkdf-menu-area-shadow-disable .mkdf-page-header .mkdf-menu-area .mkdf-grid .mkdf-vertical-align-containers {
  box-shadow: none;
}

.mkdf-menu-area-border-disable .mkdf-page-header .mkdf-menu-area {
  border: none;
}

.mkdf-menu-area-in-grid-border-disable .mkdf-page-header .mkdf-menu-area .mkdf-grid .mkdf-vertical-align-containers {
  border: none;
}

.mkdf-header-logo-area-in-grid-padding .mkdf-page-header .mkdf-menu-area .mkdf-vertical-align-containers {
  padding: 0 25px;
}

/* ==========================================================================
#Light header - begin
========================================================================== */
.mkdf-light-header .mkdf-page-header > div:not(.fixed):not(.mkdf-sticky-header) .mkdf-logo-wrapper .mkdf-light-logo {
  opacity: 1;
}

.mkdf-light-header .mkdf-page-header > div:not(.fixed):not(.mkdf-sticky-header) .mkdf-logo-wrapper .mkdf-normal-logo,
.mkdf-light-header .mkdf-page-header > div:not(.fixed):not(.mkdf-sticky-header) .mkdf-logo-wrapper .mkdf-dark-logo {
  opacity: 0;
}

.mkdf-light-header .mkdf-page-header > div:not(.fixed):not(.mkdf-sticky-header) .mkdf-menu-area {
  color: #fff !important;
}

.mkdf-light-header .mkdf-page-header > div:not(.fixed):not(.mkdf-sticky-header) .mkdf-menu-area .widget {
  color: #fff !important;
}

.mkdf-light-header .mkdf-page-header > div:not(.fixed):not(.mkdf-sticky-header) .mkdf-menu-area .widget p,
.mkdf-light-header .mkdf-page-header > div:not(.fixed):not(.mkdf-sticky-header) .mkdf-menu-area .widget a,
.mkdf-light-header .mkdf-page-header > div:not(.fixed):not(.mkdf-sticky-header) .mkdf-menu-area .widget span,
.mkdf-light-header .mkdf-page-header > div:not(.fixed):not(.mkdf-sticky-header) .mkdf-menu-area .widget i,
.mkdf-light-header .mkdf-page-header > div:not(.fixed):not(.mkdf-sticky-header) .mkdf-menu-area .widget .widgettitle {
  color: #fff !important;
}

.mkdf-light-header .mkdf-page-header > div:not(.fixed):not(.mkdf-sticky-header) .mkdf-menu-area .widget a:hover {
  color: rgba(255, 255, 255, 0.8) !important;
}

.mkdf-light-header .mkdf-page-header > div:not(.fixed):not(.mkdf-sticky-header).mkdf-menu-area {
  color: #fff !important;
}

.mkdf-light-header .mkdf-page-header > div:not(.fixed):not(.mkdf-sticky-header).mkdf-menu-area .widget {
  color: #fff !important;
}

.mkdf-light-header .mkdf-page-header > div:not(.fixed):not(.mkdf-sticky-header).mkdf-menu-area .widget p,
.mkdf-light-header .mkdf-page-header > div:not(.fixed):not(.mkdf-sticky-header).mkdf-menu-area .widget a,
.mkdf-light-header .mkdf-page-header > div:not(.fixed):not(.mkdf-sticky-header).mkdf-menu-area .widget span,
.mkdf-light-header .mkdf-page-header > div:not(.fixed):not(.mkdf-sticky-header).mkdf-menu-area .widget i,
.mkdf-light-header .mkdf-page-header > div:not(.fixed):not(.mkdf-sticky-header).mkdf-menu-area .widget .widgettitle {
  color: #fff !important;
}

.mkdf-light-header .mkdf-page-header > div:not(.fixed):not(.mkdf-sticky-header).mkdf-menu-area .widget a:hover {
  color: rgba(255, 255, 255, 0.8) !important;
}

/* ==========================================================================
#Light header - end
========================================================================== */
/* ==========================================================================
#Dark header - begin
========================================================================== */
.mkdf-dark-header .mkdf-page-header > div:not(.fixed):not(.mkdf-sticky-header) .mkdf-logo-wrapper .mkdf-dark-logo {
  opacity: 1;
}

.mkdf-dark-header .mkdf-page-header > div:not(.fixed):not(.mkdf-sticky-header) .mkdf-logo-wrapper .mkdf-normal-logo,
.mkdf-dark-header .mkdf-page-header > div:not(.fixed):not(.mkdf-sticky-header) .mkdf-logo-wrapper .mkdf-light-logo {
  opacity: 0;
}

.mkdf-dark-header .mkdf-page-header > div:not(.fixed):not(.mkdf-sticky-header) .mkdf-menu-area {
  color: #333 !important;
}

.mkdf-dark-header .mkdf-page-header > div:not(.fixed):not(.mkdf-sticky-header) .mkdf-menu-area .widget {
  color: #333 !important;
}

.mkdf-dark-header .mkdf-page-header > div:not(.fixed):not(.mkdf-sticky-header) .mkdf-menu-area .widget p,
.mkdf-dark-header .mkdf-page-header > div:not(.fixed):not(.mkdf-sticky-header) .mkdf-menu-area .widget a,
.mkdf-dark-header .mkdf-page-header > div:not(.fixed):not(.mkdf-sticky-header) .mkdf-menu-area .widget span,
.mkdf-dark-header .mkdf-page-header > div:not(.fixed):not(.mkdf-sticky-header) .mkdf-menu-area .widget i,
.mkdf-dark-header .mkdf-page-header > div:not(.fixed):not(.mkdf-sticky-header) .mkdf-menu-area .widget .widgettitle {
  color: #333 !important;
}

.mkdf-dark-header .mkdf-page-header > div:not(.fixed):not(.mkdf-sticky-header) .mkdf-menu-area .widget a:hover {
  color: rgba(51, 51, 51, 0.8) !important;
}

.mkdf-dark-header .mkdf-page-header > div:not(.fixed):not(.mkdf-sticky-header).mkdf-menu-area {
  color: #333 !important;
}

.mkdf-dark-header .mkdf-page-header > div:not(.fixed):not(.mkdf-sticky-header).mkdf-menu-area .widget {
  color: #333 !important;
}

.mkdf-dark-header .mkdf-page-header > div:not(.fixed):not(.mkdf-sticky-header).mkdf-menu-area .widget p,
.mkdf-dark-header .mkdf-page-header > div:not(.fixed):not(.mkdf-sticky-header).mkdf-menu-area .widget a,
.mkdf-dark-header .mkdf-page-header > div:not(.fixed):not(.mkdf-sticky-header).mkdf-menu-area .widget span,
.mkdf-dark-header .mkdf-page-header > div:not(.fixed):not(.mkdf-sticky-header).mkdf-menu-area .widget i,
.mkdf-dark-header .mkdf-page-header > div:not(.fixed):not(.mkdf-sticky-header).mkdf-menu-area .widget .widgettitle {
  color: #333 !important;
}

.mkdf-dark-header .mkdf-page-header > div:not(.fixed):not(.mkdf-sticky-header).mkdf-menu-area .widget a:hover {
  color: rgba(51, 51, 51, 0.8) !important;
}

/* ==========================================================================
#Dark header - end
========================================================================== */
/* ==========================================================================
   Header end - end
   ========================================================================== */
/* ==========================================================================
   Header widgets styles - begin
   ========================================================================== */
.mkdf-page-header .widget,
.mkdf-top-bar .widget,
.mkdf-sticky-header .widget,
.mkdf-mobile-header .widget {
  /* To display none */
}

.mkdf-page-header .widget.widget_pages, .mkdf-page-header .widget.widget_archive, .mkdf-page-header .widget.widget_categories, .mkdf-page-header .widget.widget_meta, .mkdf-page-header .widget.widget_recent_entries, .mkdf-page-header .widget.widget_recent_comments, .mkdf-page-header .widget.widget_rss, .mkdf-page-header .widget.widget_calendar, .mkdf-page-header .widget.widget_rss, .mkdf-page-header .widget.widget_archive, .mkdf-page-header .widget.widget_categories, .mkdf-page-header .widget.widget_tag_cloud, .mkdf-page-header .widget.widget_nav_menu,
.mkdf-top-bar .widget.widget_pages,
.mkdf-top-bar .widget.widget_archive,
.mkdf-top-bar .widget.widget_categories,
.mkdf-top-bar .widget.widget_meta,
.mkdf-top-bar .widget.widget_recent_entries,
.mkdf-top-bar .widget.widget_recent_comments,
.mkdf-top-bar .widget.widget_rss,
.mkdf-top-bar .widget.widget_calendar,
.mkdf-top-bar .widget.widget_rss,
.mkdf-top-bar .widget.widget_archive,
.mkdf-top-bar .widget.widget_categories,
.mkdf-top-bar .widget.widget_tag_cloud,
.mkdf-top-bar .widget.widget_nav_menu,
.mkdf-sticky-header .widget.widget_pages,
.mkdf-sticky-header .widget.widget_archive,
.mkdf-sticky-header .widget.widget_categories,
.mkdf-sticky-header .widget.widget_meta,
.mkdf-sticky-header .widget.widget_recent_entries,
.mkdf-sticky-header .widget.widget_recent_comments,
.mkdf-sticky-header .widget.widget_rss,
.mkdf-sticky-header .widget.widget_calendar,
.mkdf-sticky-header .widget.widget_rss,
.mkdf-sticky-header .widget.widget_archive,
.mkdf-sticky-header .widget.widget_categories,
.mkdf-sticky-header .widget.widget_tag_cloud,
.mkdf-sticky-header .widget.widget_nav_menu,
.mkdf-mobile-header .widget.widget_pages,
.mkdf-mobile-header .widget.widget_archive,
.mkdf-mobile-header .widget.widget_categories,
.mkdf-mobile-header .widget.widget_meta,
.mkdf-mobile-header .widget.widget_recent_entries,
.mkdf-mobile-header .widget.widget_recent_comments,
.mkdf-mobile-header .widget.widget_rss,
.mkdf-mobile-header .widget.widget_calendar,
.mkdf-mobile-header .widget.widget_rss,
.mkdf-mobile-header .widget.widget_archive,
.mkdf-mobile-header .widget.widget_categories,
.mkdf-mobile-header .widget.widget_tag_cloud,
.mkdf-mobile-header .widget.widget_nav_menu {
  display: none !important;
}

.mkdf-page-header .widget.widget_search .input-holder,
.mkdf-top-bar .widget.widget_search .input-holder,
.mkdf-sticky-header .widget.widget_search .input-holder,
.mkdf-mobile-header .widget.widget_search .input-holder {
  font-size: 0;
  border: none;
}

.mkdf-page-header .widget.widget_search .input-holder input,
.mkdf-page-header .widget.widget_search .input-holder button,
.mkdf-top-bar .widget.widget_search .input-holder input,
.mkdf-top-bar .widget.widget_search .input-holder button,
.mkdf-sticky-header .widget.widget_search .input-holder input,
.mkdf-sticky-header .widget.widget_search .input-holder button,
.mkdf-mobile-header .widget.widget_search .input-holder input,
.mkdf-mobile-header .widget.widget_search .input-holder button {
  background-color: transparent;
  border: 0;
  border-radius: 0;
  box-sizing: border-box;
  color: #1b1b1b;
  display: inline-block;
  height: 36px;
  line-height: 36px;
  font-weight: inherit;
  outline: 0;
  position: relative;
  vertical-align: top;
  -webkit-appearance: none;
  -webkit-transition: color 0.2s ease-in-out;
  -moz-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}

.mkdf-page-header .widget.widget_search .input-holder input.search-field,
.mkdf-top-bar .widget.widget_search .input-holder input.search-field,
.mkdf-sticky-header .widget.widget_search .input-holder input.search-field,
.mkdf-mobile-header .widget.widget_search .input-holder input.search-field {
  width: 100px;
  padding: 0;
  font-style: normal;
  color: #1b1b1b;
  font-size: 12px;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-transform: none;
  margin-left: 13px;
}

.mkdf-page-header .widget.widget_search .input-holder input.search-field::-webkit-input-placeholder,
.mkdf-top-bar .widget.widget_search .input-holder input.search-field::-webkit-input-placeholder,
.mkdf-sticky-header .widget.widget_search .input-holder input.search-field::-webkit-input-placeholder,
.mkdf-mobile-header .widget.widget_search .input-holder input.search-field::-webkit-input-placeholder {
  color: #1b1b1b;
  text-transform: uppercase;
}

.mkdf-page-header .widget.widget_search .input-holder input.search-field:-moz-placeholder,
.mkdf-top-bar .widget.widget_search .input-holder input.search-field:-moz-placeholder,
.mkdf-sticky-header .widget.widget_search .input-holder input.search-field:-moz-placeholder,
.mkdf-mobile-header .widget.widget_search .input-holder input.search-field:-moz-placeholder {
  color: #1b1b1b;
  text-transform: uppercase;
  opacity: 1;
}

.mkdf-page-header .widget.widget_search .input-holder input.search-field::-moz-placeholder,
.mkdf-top-bar .widget.widget_search .input-holder input.search-field::-moz-placeholder,
.mkdf-sticky-header .widget.widget_search .input-holder input.search-field::-moz-placeholder,
.mkdf-mobile-header .widget.widget_search .input-holder input.search-field::-moz-placeholder {
  color: #1b1b1b;
  text-transform: uppercase;
  opacity: 1;
}

.mkdf-page-header .widget.widget_search .input-holder input.search-field:-ms-input-placeholder,
.mkdf-top-bar .widget.widget_search .input-holder input.search-field:-ms-input-placeholder,
.mkdf-sticky-header .widget.widget_search .input-holder input.search-field:-ms-input-placeholder,
.mkdf-mobile-header .widget.widget_search .input-holder input.search-field:-ms-input-placeholder {
  color: #1b1b1b;
  text-transform: uppercase;
}

.mkdf-page-header .widget.widget_search .input-holder button,
.mkdf-top-bar .widget.widget_search .input-holder button,
.mkdf-sticky-header .widget.widget_search .input-holder button,
.mkdf-mobile-header .widget.widget_search .input-holder button {
  float: left;
  cursor: pointer;
  font-size: 19px;
  padding: 0;
  background: transparent;
  -webkit-transition: color 0.2s ease-in-out;
  -moz-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}

.mkdf-page-header .widget.widget_search .input-holder button span,
.mkdf-top-bar .widget.widget_search .input-holder button span,
.mkdf-sticky-header .widget.widget_search .input-holder button span,
.mkdf-mobile-header .widget.widget_search .input-holder button span {
  display: block;
  line-height: inherit;
  width: 100%;
}

.mkdf-page-header .widget.widget_search .input-holder button span:before,
.mkdf-top-bar .widget.widget_search .input-holder button span:before,
.mkdf-sticky-header .widget.widget_search .input-holder button span:before,
.mkdf-mobile-header .widget.widget_search .input-holder button span:before {
  display: block;
  line-height: inherit;
}

.mkdf-top-bar .widget {
  color: #fff;
}

.mkdf-top-bar .widget a {
  color: #fff;
}

.mkdf-top-bar .widget a:hover {
  color: #f34f3f;
}

/* ==========================================================================
   Header widgets styles - end
   ========================================================================== */
/* ==========================================================================
   Header logo styles - begin
   ========================================================================== */
.mkdf-logo-wrapper {
  display: inline-block;
  vertical-align: middle;
}

.mkdf-logo-wrapper a {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  max-width: 100%;
}

.mkdf-logo-wrapper a img {
  height: 100%;
  width: auto;
  -webkit-transition: opacity 0.2s ease;
  -moz-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
}

.mkdf-logo-wrapper a img.mkdf-normal-logo {
  opacity: 1;
}

.mkdf-logo-wrapper a img.mkdf-dark-logo {
  opacity: 0;
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  transform: translateY(-100%);
}

.mkdf-logo-wrapper a img.mkdf-light-logo {
  opacity: 0;
  -webkit-transform: translateY(-200%);
  -moz-transform: translateY(-200%);
  transform: translateY(-200%);
}

/* ==========================================================================
   Header logo styles - end
   ========================================================================== */
/* ==========================================================================
   Header main menu style - begin
   ========================================================================== */
.mkdf-main-menu {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  height: 100%;
  width: auto;
}

.mkdf-main-menu ul {
  list-style: none outside none;
  margin: 0;
  padding: 0;
  text-align: left;
}

.mkdf-main-menu ul li {
  position: relative;
  display: inline-block;
  float: left;
  padding: 0;
  margin: 0;
}

.mkdf-main-menu ul li a {
  font-size: 14px;
  line-height: 24px;
  color: #1b1b1b;
  font-weight: 500;
}

.mkdf-main-menu ul li a .item_text {
  position: relative;
  display: inline-block;
  vertical-align: top;
}

.mkdf-main-menu ul li a .item_text:before {
  content: '';
  width: 100%;
  height: 1px;
  background-color: currentColor;
  position: absolute;
  bottom: 2px;
  left: 0;
  width: 0;
  margin: auto;
  transition: width .2s ease-in-out;
}

.mkdf-main-menu ul li a i:before {
  margin: 0 7px 0 0;
}

.mkdf-main-menu ul li a .menu_icon_wrapper {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}

.mkdf-main-menu ul li a .mkdf-menu-featured-icon {
  position: relative;
  top: -4px;
  left: 5px;
  color: currentColor;
  font-size: 10px;
  margin: 0;
}

.mkdf-main-menu ul li a .mkdf-menu-featured-icon:before {
  margin: 0;
}

.mkdf-main-menu ul li:hover > a .item_text:before, .mkdf-main-menu ul li.mkdf-active-item > a .item_text:before, .mkdf-main-menu ul li.current-menu-item > a .item_text:before {
  width: 100%;
}

.mkdf-main-menu > ul {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  height: 100%;
}

.mkdf-main-menu > ul > li {
  float: left;
  height: 100%;
  box-sizing: border-box;
}

.mkdf-main-menu > ul > li > a {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  height: 100%;
  padding: 0 25px;
  color: #1b1b1b;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 22px;
  letter-spacing: 0.1em;
  box-sizing: border-box;
}

@media only screen and (min-width: 1367px) {
  .mkdf-main-menu > ul > li > a {
    padding: 0 29px;
  }
}

.mkdf-main-menu > ul > li > a > span.item_outer {
  position: relative;
  display: block;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
}

.mkdf-main-menu > ul > li.has_sub > a .mkdf-menu-arrow {
  display: none;
}

.mkdf-light-header .mkdf-page-header > div:not(.mkdf-sticky-header):not(.fixed) .mkdf-main-menu > ul > li > a {
  color: #fff;
}

.mkdf-light-header .mkdf-page-header > div:not(.mkdf-sticky-header):not(.fixed) .mkdf-main-menu > ul > li > a:hover {
  color: rgba(255, 255, 255, 0.8);
}

.mkdf-light-header .mkdf-page-header > div:not(.mkdf-sticky-header):not(.fixed) .mkdf-main-menu > ul > li.mkdf-active-item > a {
  color: rgba(255, 255, 255, 0.8);
}

.mkdf-dark-header .mkdf-page-header > div:not(.mkdf-sticky-header):not(.fixed) .mkdf-main-menu > ul > li > a {
  color: #333;
}

.mkdf-dark-header .mkdf-page-header > div:not(.mkdf-sticky-header):not(.fixed) .mkdf-main-menu > ul > li > a:hover {
  color: #333;
}

.mkdf-dark-header .mkdf-page-header > div:not(.mkdf-sticky-header):not(.fixed) .mkdf-main-menu > ul > li.mkdf-active-item > a {
  color: #333;
}

/* Narrow drop down styles
   ========================================================================== */
.mkdf-drop-down .second {
  position: absolute;
  display: block;
  left: 3px;
  top: 100%;
  visibility: hidden;
  overflow: hidden;
  opacity: 0;
  z-index: 10;
  -webkit-transition: top 0.15s ease-out;
  -moz-transition: top 0.15s ease-out;
  transition: top 0.15s ease-out;
}

.mkdf-drop-down .second.mkdf-drop-down-start {
  visibility: visible;
  overflow: visible;
  opacity: 1;
  -webkit-transition: opacity 0.2s ease-out;
  -moz-transition: opacity 0.2s ease-out;
  transition: opacity 0.2s ease-out;
}

.mkdf-drop-down .second.right {
  right: 3px;
  left: auto;
}

.mkdf-drop-down .second .inner {
  position: relative;
  display: block;
  padding: 0;
  margin: 0;
  z-index: 997;
}

.mkdf-drop-down .second .inner ul li {
  display: block;
  float: none;
  height: auto;
}

.mkdf-drop-down .second .inner ul li .widget {
  width: 100%;
  margin: 0 !important;
}

.mkdf-drop-down .second .inner ul li a {
  display: block;
  float: none;
  margin: 0;
  padding: 8px 26px;
  font-size: 13px;
  color: #737373;
  line-height: 19px;
}

.mkdf-drop-down .second .inner ul li a .item_outer {
  position: relative;
  display: block;
  overflow: hidden;
  padding: 0 20px 0 0;
  box-sizing: border-box;
  -webkit-transition: padding 0.2s ease-in-out;
  -moz-transition: padding 0.2s ease-in-out;
  transition: padding 0.2s ease-in-out;
}

.mkdf-drop-down .second .inner ul li a .item_outer .item_text {
  position: relative;
  display: inline-block;
  vertical-align: top;
}

.mkdf-drop-down .second .inner ul li.sub > a .item_outer:after {
  position: absolute;
  display: inline-block;
  vertical-align: middle;
  top: 0;
  right: 0;
  content: "\35";
  font-family: 'ElegantIcons';
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.mkdf-drop-down .second .inner ul.right li a .item_outer {
  padding: 0 0 0 30px;
}

.mkdf-drop-down .second .inner ul.right li.sub > a .item_outer:after {
  right: auto;
  left: 0;
  content: "\34";
}

.mkdf-drop-down .second .inner ul.right li a {
  text-align: right;
}

.mkdf-drop-down .second .inner ul.right li ul {
  left: -100%;
}

.mkdf-drop-down li.left_position .second {
  left: 0;
}

.mkdf-drop-down li.right_position .second {
  left: auto;
  right: 0;
}

.mkdf-drop-down > ul > li:hover > .second {
  z-index: 20;
}

.mkdf-drop-down .narrow .second .inner ul {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  background-color: #fff;
  padding: 19px 0;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.03);
}

.mkdf-drop-down .narrow .second .inner ul li {
  width: 210px;
}

.mkdf-drop-down .narrow .second .inner ul li ul {
  position: absolute;
  left: 100%;
  top: -19px;
  height: auto;
  opacity: 0;
  overflow: hidden;
  z-index: 10;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.03);
  -webkit-transform: translateZ(0);
  -webkit-transition: opacity 0.4s ease-out;
  -moz-transition: opacity 0.4s ease-out;
  transition: opacity 0.4s ease-out;
}

.mkdf-drop-down .narrow .second .inner ul li:hover ul {
  z-index: 20;
  opacity: 1;
}

.mkdf-drop-down .narrow .second .inner ul.right li ul {
  left: -100%;
}

/* Wide drop down styles
   ========================================================================== */
.mkdf-drop-down .wide .second .inner {
  text-align: center;
  background-color: #fff;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.03);
}

.mkdf-drop-down .wide .second .inner ul li a {
  font-size: 13px;
  text-transform: capitalize;
  padding: 8px 0;
}

.mkdf-drop-down .wide .second .inner ul li ul {
  position: relative;
  display: block;
  top: 0;
  left: 0;
  visibility: visible;
}

.mkdf-drop-down .wide .second .inner ul li ul li a span.item_outer {
  display: inline-block;
  padding: 0;
}

.mkdf-drop-down .wide .second .inner ul li ul li:last-child a {
  padding-bottom: 0;
}

.mkdf-drop-down .wide .second .inner > ul {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 1100px;
  padding: 40px 0 45px;
  box-sizing: border-box;
}

@media only screen and (min-width: 1400px) {
  .mkdf-grid-1300 .mkdf-drop-down .wide .second .inner > ul {
    width: 1300px;
  }
}

@media only screen and (min-width: 1300px) {
  .mkdf-grid-1200 .mkdf-drop-down .wide .second .inner > ul {
    width: 1200px;
  }
}

@media only screen and (min-width: 1200px) {
  .mkdf-grid-1000 .mkdf-drop-down .wide .second .inner > ul {
    width: 1000px;
  }
}

@media only screen and (min-width: 1024px) {
  .mkdf-grid-800 .mkdf-drop-down .wide .second .inner > ul {
    width: 800px;
  }
}

.mkdf-drop-down .wide .second .inner > ul > li {
  float: left;
  width: 25%;
  margin: 0;
  padding: 0 52px;
  box-sizing: border-box;
}

.mkdf-drop-down .wide .second .inner > ul > li:nth-child(4n+1) {
  clear: both;
}

.mkdf-drop-down .wide .second .inner > ul > li > a {
  padding: 0 0 24px;
  font-family: "Playfair Display", serif;
  font-size: 22px;
  text-transform: none;
  line-height: 1.1em;
  color: #1b1b1b;
}

.mkdf-drop-down .wide .second .inner > ul > li > a.no_link {
  cursor: default;
}

.mkdf-drop-down .wide .second .inner > ul > li > a .item_outer {
  padding: 0;
  overflow: inherit;
}

.mkdf-drop-down .wide .second .inner > ul > li > a .item_outer .item_text:before {
  display: none;
}

.mkdf-drop-down .wide .second .inner > ul > li > a .item_outer:before, .mkdf-drop-down .wide .second .inner > ul > li > a .item_outer:after {
  display: none;
}

.mkdf-drop-down .wide.left_position .second .inner > ul, .mkdf-drop-down .wide.right_position .second .inner > ul {
  width: auto;
  white-space: nowrap;
}

.mkdf-drop-down .wide.left_position .second .inner > ul > li, .mkdf-drop-down .wide.right_position .second .inner > ul > li {
  float: none;
  display: inline-block;
  vertical-align: top;
}

.mkdf-drop-down .wide.left_position .second .inner > ul > li:nth-child(4n+1), .mkdf-drop-down .wide.right_position .second .inner > ul > li:nth-child(4n+1) {
  border-left: none;
}

.mkdf-drop-down .wide.left_position .second ul li, .mkdf-drop-down .wide.right_position .second ul li {
  width: 200px;
}

/* ==========================================================================
   Header main menu style - end
   ========================================================================== */
/* ==========================================================================
   Fixed header style - begin
   ========================================================================== */
.mkdf-page-header .mkdf-fixed-wrapper.fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-backface-visibility: hidden;
}

.admin-bar .mkdf-page-header .mkdf-fixed-wrapper.fixed {
  top: 32px;
}

.mkdf-page-header .mkdf-fixed-wrapper.fixed .mkdf-menu-area {
  background-color: #fff;
}

/* ==========================================================================
   Fixed header style - end
   ========================================================================== */
/* ==========================================================================
   Header Centered style - begin
   ========================================================================== */
.mkdf-header-centered .mkdf-page-header .mkdf-logo-area {
  height: 100px;
  overflow: visible;
  z-index: 2;
  box-sizing: border-box;
}

.mkdf-header-centered .mkdf-page-header .mkdf-logo-area .mkdf-logo-wrapper a {
  max-height: 100px;
}

.mkdf-header-centered .mkdf-page-header .mkdf-menu-area {
  height: 60px;
  z-index: 1;
}

.mkdf-header-centered .mkdf-page-header .mkdf-menu-area .mkdf-vertical-align-containers .mkdf-position-center-inner {
  height: 100%;
}

.mkdf-header-centered .mkdf-page-header .mkdf-menu-area .mkdf-vertical-align-containers .mkdf-position-left-inner,
.mkdf-header-centered .mkdf-page-header .mkdf-menu-area .mkdf-vertical-align-containers .mkdf-position-right-inner {
  height: 100%;
}

.mkdf-header-centered .mkdf-page-header .mkdf-menu-area .mkdf-vertical-align-containers .mkdf-position-left-inner:before,
.mkdf-header-centered .mkdf-page-header .mkdf-menu-area .mkdf-vertical-align-containers .mkdf-position-right-inner:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

.mkdf-header-centered .mkdf-page-header .mkdf-sticky-header .mkdf-position-left-inner {
  height: auto;
}

.mkdf-header-centered .mkdf-page-header .mkdf-sticky-header .mkdf-position-right-inner {
  height: 100%;
}

/* ==========================================================================
   Header Centered style - end
   ========================================================================== */
/* ==========================================================================
   Header Divided style - begin
   ========================================================================== */
.mkdf-header-divided .mkdf-page-header .mkdf-logo-wrapper a img {
  margin: 0 auto;
}

.mkdf-header-divided .mkdf-page-header .mkdf-menu-area {
  opacity: 0;
}

.mkdf-header-divided .mkdf-page-header .mkdf-menu-area .mkdf-grid {
  height: 100%;
}

.mkdf-header-divided .mkdf-page-header .mkdf-main-menu {
  width: auto;
  margin: 0;
}

.mkdf-header-divided .mkdf-page-header .mkdf-main-menu > ul > li > a span.item_inner {
  padding: 0 28px;
}

.mkdf-header-divided .mkdf-page-header .mkdf-vertical-align-containers {
  padding: 0;
}

.mkdf-header-divided .mkdf-page-header .mkdf-vertical-align-containers .mkdf-position-left {
  text-align: right;
}

.mkdf-header-divided .mkdf-page-header .mkdf-vertical-align-containers .mkdf-position-left .mkdf-position-left-inner {
  height: 100%;
  text-align: left;
  padding-right: 28px;
}

.mkdf-header-divided .mkdf-page-header .mkdf-vertical-align-containers .mkdf-position-left .mkdf-divided-left-widget-area {
  display: inline-block;
  float: left;
  height: 100%;
  vertical-align: middle;
}

.mkdf-header-divided .mkdf-page-header .mkdf-vertical-align-containers .mkdf-position-left .mkdf-divided-left-widget-area .mkdf-divided-left-widget-area-inner {
  display: table;
  height: 100%;
}

.mkdf-header-divided .mkdf-page-header .mkdf-vertical-align-containers .mkdf-position-left .mkdf-divided-left-widget-area .mkdf-divided-left-widget-area-inner > * {
  display: table-cell;
  vertical-align: middle;
}

.mkdf-header-divided .mkdf-page-header .mkdf-vertical-align-containers .mkdf-position-right {
  text-align: left;
}

.mkdf-header-divided .mkdf-page-header .mkdf-vertical-align-containers .mkdf-position-right .mkdf-position-right-inner {
  height: 100%;
  padding-left: 28px;
}

.mkdf-header-divided .mkdf-page-header .mkdf-vertical-align-containers .mkdf-position-right .mkdf-divided-right-widget-area {
  display: inline-block;
  float: right;
  height: 100%;
  vertical-align: middle;
}

.mkdf-header-divided .mkdf-page-header .mkdf-vertical-align-containers .mkdf-position-right .mkdf-divided-right-widget-area .mkdf-divided-right-widget-area-inner {
  display: table;
  height: 100%;
}

.mkdf-header-divided .mkdf-page-header .mkdf-vertical-align-containers .mkdf-position-right .mkdf-divided-right-widget-area .mkdf-divided-right-widget-area-inner > * {
  display: table-cell;
  vertical-align: middle;
}

.mkdf-header-divided .mkdf-page-header .mkdf-vertical-align-containers .mkdf-position-center {
  position: absolute;
  width: 100%;
}

.mkdf-header-divided .mkdf-page-header .mkdf-sticky-header .mkdf-position-center-inner {
  height: auto;
}

/* ==========================================================================
   Header Divided style - end
   ========================================================================== */
/* ==========================================================================
   Header Standard style - begin
   ========================================================================== */
.mkdf-header-standard .mkdf-menu-area.mkdf-menu-left .mkdf-main-menu {
  width: auto;
  padding: 0 0 0 20px;
}

.mkdf-header-standard .mkdf-menu-area.mkdf-menu-left .mkdf-vertical-align-containers .mkdf-position-left-inner {
  height: 100%;
}

.mkdf-header-standard .mkdf-menu-area.mkdf-menu-left .mkdf-vertical-align-containers .mkdf-position-left:before,
.mkdf-header-standard .mkdf-menu-area.mkdf-menu-left .mkdf-vertical-align-containers .mkdf-position-right:before {
  display: none;
}

.mkdf-header-standard .mkdf-menu-area.mkdf-menu-left .mkdf-vertical-align-containers .mkdf-position-right-inner {
  display: -webkit-flex;
  /* Safari */
  -webkit-align-items: center;
  /* Safari 7.0+ */
  display: flex;
  align-items: center;
  height: 100%;
}

.mkdf-header-standard .mkdf-menu-area.mkdf-menu-center .mkdf-vertical-align-containers .mkdf-position-center-inner {
  height: 100%;
}

.mkdf-header-standard .mkdf-menu-area.mkdf-menu-center .mkdf-vertical-align-containers .mkdf-position-right:before {
  display: none;
}

.mkdf-header-standard .mkdf-menu-area.mkdf-menu-center .mkdf-vertical-align-containers .mkdf-position-right-inner {
  display: -webkit-flex;
  /* Safari */
  -webkit-align-items: center;
  /* Safari 7.0+ */
  display: flex;
  align-items: center;
  height: 100%;
}

.mkdf-header-standard .mkdf-menu-area.mkdf-menu-right .mkdf-main-menu {
  width: auto;
}

.mkdf-header-standard .mkdf-menu-area.mkdf-menu-right .mkdf-vertical-align-containers .mkdf-position-right-inner {
  height: 100%;
}

/* ==========================================================================
   Header Standard style - end
   ========================================================================== */
/* ==========================================================================
   Mobile header style - begin
   ========================================================================== */
.mkdf-mobile-header {
  position: relative;
  display: none;
  z-index: 110;
  /* #General mobile header styles
    ========================================================================== */
  /* #End of general mobile header styles
   ========================================================================== */
  /* #Mobile logo styles
    ========================================================================== */
  /* #End of mobile logo styles
    ========================================================================== */
  /* #Mobile menu opener styles
    ========================================================================== */
  /* #End of mobile menu opener styles
    ========================================================================== */
  /* #Mobile menu navigation styles
    ========================================================================== */
  /* #End of mobile menu navigation styles
	========================================================================== */
}

.mkdf-mobile-header .mkdf-mobile-header-inner {
  position: relative;
  height: 70px;
  background-color: #fff;
  border-bottom: 1px solid #e8e8e8;
  box-sizing: border-box;
}

.mkdf-mobile-header .mkdf-mobile-header-inner .mkdf-mobile-header-holder {
  position: relative;
  z-index: 2;
  height: 100%;
}

.mkdf-mobile-header .mkdf-grid {
  height: 100%;
}

.mkdf-mobile-header .mkdf-vertical-align-containers {
  padding: 0;
}

.mkdf-mobile-header .mkdf-mobile-logo-wrapper a {
  display: block;
}

.mkdf-mobile-header .mkdf-mobile-logo-wrapper img {
  display: block;
  height: 100%;
  width: auto;
}

.mkdf-mobile-header .mkdf-mobile-menu-opener {
  position: relative;
  height: 100%;
  float: left;
  z-index: 2;
}

.mkdf-mobile-header .mkdf-mobile-menu-opener a {
  display: table;
  height: 100%;
  padding-right: 10px;
}

.mkdf-mobile-header .mkdf-mobile-menu-opener a > * {
  position: relative;
  display: table-cell;
  vertical-align: middle;
  line-height: 1em;
}

.mkdf-mobile-header .mkdf-mobile-menu-opener a .mkdf-mobile-menu-text {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  text-transform: inherit;
  padding-left: 5px;
}

.mkdf-mobile-header .mkdf-mobile-menu-opener.mkdf-mobile-menu-opener-icon-pack .mkdf-mobile-menu-icon {
  font-size: 24px;
}

.mkdf-mobile-header .mkdf-mobile-menu-opener.mkdf-mobile-menu-opener-icon-pack .mkdf-mobile-menu-icon * {
  display: block;
  line-height: inherit;
}

.mkdf-mobile-header .mkdf-mobile-menu-opener.mkdf-mobile-menu-opener-icon-pack .mkdf-mobile-menu-icon *:before {
  display: block;
  line-height: inherit;
}

.mkdf-mobile-header .mkdf-mobile-menu-opener.mkdf-mobile-menu-opener-svg-path .mkdf-mobile-menu-icon > * {
  vertical-align: middle;
}

.mkdf-mobile-header .mkdf-mobile-menu-opener.mkdf-mobile-menu-opener-svg-path .mkdf-mobile-menu-icon > *,
.mkdf-mobile-header .mkdf-mobile-menu-opener.mkdf-mobile-menu-opener-svg-path .mkdf-mobile-menu-icon path {
  fill: currentColor;
  stroke: currentColor;
}

.mkdf-mobile-header .mkdf-mobile-menu-opener.mkdf-mobile-menu-opened a {
  color: #f34f3f;
}

.mkdf-mobile-header .mkdf-mobile-menu-opener.mkdf-mobile-menu-opener-predefined {
  line-height: 1;
}

.mkdf-mobile-header .mkdf-mobile-menu-opener.mkdf-mobile-menu-opener-predefined .mkdf-hm-lines {
  position: relative;
  display: block;
  width: 23px;
  height: 17px;
}

.mkdf-mobile-header .mkdf-mobile-menu-opener.mkdf-mobile-menu-opener-predefined .mkdf-hm-lines .mkdf-hm-line {
  position: absolute;
  left: 0;
  height: 3px;
  width: 100%;
  background-color: currentColor;
  border-radius: 12px;
  -webkit-transition: width 0.3s ease;
  -moz-transition: width 0.3s ease;
  transition: width 0.3s ease;
}

.mkdf-mobile-header .mkdf-mobile-menu-opener.mkdf-mobile-menu-opener-predefined .mkdf-hm-lines .mkdf-hm-line.mkdf-line-1 {
  top: 0;
}

.mkdf-mobile-header .mkdf-mobile-menu-opener.mkdf-mobile-menu-opener-predefined .mkdf-hm-lines .mkdf-hm-line.mkdf-line-2 {
  top: 7px;
}

.mkdf-mobile-header .mkdf-mobile-menu-opener.mkdf-mobile-menu-opener-predefined .mkdf-hm-lines .mkdf-hm-line.mkdf-line-3 {
  bottom: 0;
}

.mkdf-mobile-header .mkdf-mobile-side-area {
  background-color: #fff;
  height: 100vh;
  min-height: 100vh;
  overflow: hidden;
  padding: 56px 51px 80px 75px;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  right: 0px;
  width: 420px;
  max-width: 100%;
  z-index: 9999;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translate3d(170%, 0, 0);
  -moz-transform: translate3d(170%, 0, 0);
  transform: translate3d(170%, 0, 0);
  -webkit-transition: transform 0.7s cubic-bezier(0.25, 1, 0.2, 1);
  -moz-transition: transform 0.7s cubic-bezier(0.25, 1, 0.2, 1);
  transition: transform 0.7s cubic-bezier(0.25, 1, 0.2, 1);
}

.admin-bar .mkdf-mobile-header .mkdf-mobile-side-area {
  top: 40px;
}

.mkdf-mobile-header .mkdf-mobile-side-area.opened {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  box-shadow: 0 1px 23.28px 0.72px rgba(255, 51, 102, 0.07);
}

.mkdf-mobile-header .mkdf-mobile-side-area.opened .mkdf-mobile-nav,
.mkdf-mobile-header .mkdf-mobile-side-area.opened .mkdf-mobile-menu-bottom {
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  transform: translateX(0px);
  opacity: 1;
}

.mkdf-mobile-header .mkdf-mobile-side-area .mkdf-mobile-side-area-inner {
  height: calc(100vh - 136px);
  min-height: calc(100vh - 136px);
  overflow: hidden;
}

.mkdf-mobile-header .mkdf-mobile-side-area .mkdf-mobile-widget-area {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: block;
  height: 60px;
  box-sizing: border-box;
}

.mkdf-mobile-header .mkdf-mobile-side-area .mkdf-mobile-widget-area > * {
  box-sizing: border-box;
  float: left;
  height: 60px;
  margin: 0;
  text-align: center;
  line-height: 60px;
  display: inline-block;
  vertical-align: middle;
  font-size: 24px;
}

.mkdf-mobile-header .mkdf-mobile-side-area .mkdf-mobile-widget-area .mkdf-mobile-widget-area-inner {
  position: relative;
  width: 100%;
}

.mkdf-mobile-header .mkdf-mobile-side-area .mkdf-mobile-widget-area .mkdf-mobile-widget-area-inner > div {
  display: inline-block;
}

.mkdf-mobile-header .mkdf-mobile-side-area .mkdf-close-mobile-side-area-holder {
  display: block;
  position: absolute;
  top: 19px;
  right: 21px;
  z-index: 1000;
  cursor: pointer;
}

.mkdf-mobile-header .mkdf-mobile-side-area .mkdf-close-mobile-side-area-holder i {
  color: #f34f3f;
  font-size: 22px;
}

.mkdf-mobile-header .mkdf-mobile-nav {
  opacity: 0;
  -webkit-transform: translateX(50px);
  -moz-transform: translateX(50px);
  transform: translateX(50px);
  -webkit-transition: transform 0.45s cubic-bezier(0.2, 0.75, 0.3, 1) 0.22s, opacity 0.45s cubic-bezier(0.2, 0.75, 0.3, 1) 0.22s;
  -moz-transition: transform 0.45s cubic-bezier(0.2, 0.75, 0.3, 1) 0.22s, opacity 0.45s cubic-bezier(0.2, 0.75, 0.3, 1) 0.22s;
  transition: transform 0.45s cubic-bezier(0.2, 0.75, 0.3, 1) 0.22s, opacity 0.45s cubic-bezier(0.2, 0.75, 0.3, 1) 0.22s;
}

.mkdf-mobile-header .mkdf-mobile-nav ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.mkdf-mobile-header .mkdf-mobile-nav ul li {
  position: relative;
  padding: 0;
  margin: 0;
  -webkit-transform: translateZ(0);
}

.mkdf-mobile-header .mkdf-mobile-nav ul li a, .mkdf-mobile-header .mkdf-mobile-nav ul li h6 {
  position: relative;
  display: inline-block;
  padding: 4px 0;
  margin: 0;
  color: #8b8b8b;
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  cursor: pointer;
}

.mkdf-mobile-header .mkdf-mobile-nav ul li a:hover > span:after, .mkdf-mobile-header .mkdf-mobile-nav ul li h6:hover > span:after {
  opacity: 1;
}

.mkdf-mobile-header .mkdf-mobile-nav ul li a > span, .mkdf-mobile-header .mkdf-mobile-nav ul li h6 > span {
  position: relative;
}

.mkdf-mobile-header .mkdf-mobile-nav ul li a > span:after, .mkdf-mobile-header .mkdf-mobile-nav ul li h6 > span:after {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 1px;
  background-color: currentColor;
  -webkit-transition: width 0.3s ease;
  -moz-transition: width 0.3s ease;
  transition: width 0.3s ease;
}

.mkdf-mobile-header .mkdf-mobile-nav ul li.current-menu-ancestor > a > span:after,
.mkdf-mobile-header .mkdf-mobile-nav ul li.current-menu-item > a > span:after,
.mkdf-mobile-header .mkdf-mobile-nav ul li.current-menu-ancestor > h6 > span:after,
.mkdf-mobile-header .mkdf-mobile-nav ul li.current-menu-item > h6 > span:after {
  width: 100%;
}

.mkdf-mobile-header .mkdf-mobile-nav ul ul {
  display: none;
}

.mkdf-mobile-header .mkdf-mobile-nav ul ul li a, .mkdf-mobile-header .mkdf-mobile-nav ul ul li h6 {
  line-height: 24px;
}

.mkdf-mobile-header .mkdf-mobile-nav > ul > li > a,
.mkdf-mobile-header .mkdf-mobile-nav > ul > li > h6 {
  color: #0e0e0e;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: .1em;
  padding: 11px 0;
}

.mkdf-mobile-header .mkdf-mobile-nav > ul > li.mkdf-active-item > .mobile_arrow > .mkdf-sub-arrow {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  transform: rotate(90deg);
}

.mkdf-mobile-header .mkdf-mobile-nav .mobile_arrow {
  position: relative;
  font-size: 12px;
  line-height: inherit;
  text-align: right;
  box-sizing: border-box;
  z-index: 20;
}

.mkdf-mobile-header .mkdf-mobile-nav .mobile_arrow:hover {
  cursor: pointer;
}

.mkdf-mobile-header .mkdf-mobile-nav .mobile_arrow .mkdf-sub-arrow {
  display: inline-block;
  line-height: 1;
  -webkit-transition: transform 0.2s ease-in-out;
  -moz-transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
}

.mkdf-mobile-header .mkdf-mobile-nav .mobile_arrow .arrow_triangle-down {
  display: none;
}

.mkdf-mobile-header .mkdf-mobile-nav li.mkdf-opened > a .mkdf-sub-arrow {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  transform: rotate(90deg);
}

/* ==========================================================================
   Mobile header style - end
   ========================================================================== */
/* ==========================================================================
   Sticky Mobile header style - begin
   ========================================================================== */
.mkdf-sticky-up-mobile-header .mkdf-animate-mobile-header .mkdf-mobile-header-inner {
  width: 100%;
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  transform: translateY(-100%);
  -webkit-transition: -webkit-transform 0.4s ease-in-out, left 0.2s ease, right 0.2s ease;
  -moz-transition: -moz-transform 0.4s ease-in-out, left 0.2s ease, right 0.2s ease;
  transition: transform 0.4s ease-in-out, left 0.2s ease, right 0.2s ease;
}

.mkdf-sticky-up-mobile-header .mobile-header-appear .mkdf-mobile-header-inner {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  transform: translateY(0);
}

/* ==========================================================================
   Sticky Mobile header style - end
   ========================================================================== */
/* ==========================================================================
   Sticky header style - begin
   ========================================================================== */
.mkdf-sticky-header {
  position: fixed;
  top: 0;
  left: 0;
  height: 70px;
  width: 100%;
  z-index: 100;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  transform: translateY(-100%);
  -webkit-transition: -webkit-transform 0.6s ease;
  -moz-transition: -moz-transform 0.6s ease;
  transition: transform 0.6s ease;
}

.mkdf-sticky-header .mkdf-drop-down .second {
  top: calc(100% + 1px);
}

.mkdf-sticky-header .mkdf-grid {
  height: 100% !important;
}

.mkdf-sticky-header.header-appear {
  transform: translateY(0%);
}

.admin-bar .mkdf-sticky-header.header-appear {
  top: 32px;
}

.mkdf-sticky-header .mkdf-sticky-holder {
  position: relative;
  height: 100%;
  z-index: 2;
  background-color: #fff;
  border-bottom: 1px solid #e8e8e8;
  box-sizing: border-box;
}

.mkdf-sticky-header .mkdf-sticky-holder .mkdf-logo-wrapper a {
  max-height: 70px;
}

.mkdf-sticky-header .mkdf-sticky-holder .mkdf-vertical-align-containers {
  padding: 0 40px;
}

.mkdf-sticky-header .mkdf-sticky-holder.mkdf-menu-left .mkdf-main-menu {
  width: auto;
  padding: 0 0 0 20px;
}

.mkdf-sticky-header .mkdf-sticky-holder.mkdf-menu-left .mkdf-vertical-align-containers .mkdf-position-left-inner {
  height: 100%;
}

.mkdf-sticky-header .mkdf-sticky-holder.mkdf-menu-left .mkdf-vertical-align-containers .mkdf-position-right:before {
  display: none;
}

.mkdf-sticky-header .mkdf-sticky-holder.mkdf-menu-left .mkdf-vertical-align-containers .mkdf-position-right-inner {
  display: -webkit-flex;
  /* Safari */
  -webkit-align-items: center;
  /* Safari 7.0+ */
  display: flex;
  align-items: center;
  height: 100%;
}

.mkdf-sticky-header .mkdf-sticky-holder.mkdf-menu-center .mkdf-vertical-align-containers .mkdf-position-center-inner {
  height: 100%;
}

.mkdf-sticky-header .mkdf-sticky-holder.mkdf-menu-center .mkdf-vertical-align-containers .mkdf-position-right:before {
  display: none;
}

.mkdf-sticky-header .mkdf-sticky-holder.mkdf-menu-center .mkdf-vertical-align-containers .mkdf-position-right-inner {
  display: -webkit-flex;
  /* Safari */
  -webkit-align-items: center;
  /* Safari 7.0+ */
  display: flex;
  align-items: center;
  height: 100%;
}

.mkdf-sticky-header .mkdf-sticky-holder.mkdf-menu-right .mkdf-main-menu {
  width: auto;
}

.mkdf-sticky-header .mkdf-sticky-holder.mkdf-menu-right .mkdf-vertical-align-containers .mkdf-position-right-inner {
  height: 100%;
}

.mkdf-sticky-header .widget {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
}

/* ==========================================================================
   Sticky header style - end
   ========================================================================== */
/* ==========================================================================
   Top header style - begin
   ========================================================================== */
.mkdf-top-bar {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  height: 48px;
  color: #fff;
  font-size: 12px;
  background-color: #f34f3f;
  background-repeat: no-repeat;
  background-position: center center;
  z-index: 111;
  box-sizing: border-box;
}

.mkdf-top-bar > .mkdf-vertical-align-containers {
  padding: 0 40px;
}

.mkdf-top-bar .mkdf-vertical-align-containers .mkdf-position-left:before,
.mkdf-top-bar .mkdf-vertical-align-containers .mkdf-position-right:before {
  display: none;
}

.mkdf-top-bar .mkdf-vertical-align-containers .mkdf-position-left-inner,
.mkdf-top-bar .mkdf-vertical-align-containers .mkdf-position-right-inner {
  display: -webkit-flex;
  /* Safari */
  -webkit-align-items: center;
  /* Safari 7.0+ */
  display: flex;
  align-items: center;
  height: 100%;
}

.mkdf-top-bar .mkdf-grid {
  height: 100%;
}

.mkdf-top-bar .mkdf-grid .mkdf-vertical-align-containers {
  padding-left: 0;
  padding-right: 0;
}

.mkdf-top-bar-in-grid-padding .mkdf-top-bar .mkdf-grid .mkdf-vertical-align-containers {
  padding: 0 40px;
}

.mkdf-top-bar .widget {
  margin: 0;
}

.mkdf-top-bar .widget ul li {
  display: inline-block;
  vertical-align: middle;
  padding: 0 20px 0 0;
}

.mkdf-top-bar .widget ul li a {
  color: #ffffff;
  font-size: 12px;
}

/* ==========================================================================
   Top header style - end
   ========================================================================== */
/* ==========================================================================
   Header styles - end
   ========================================================================== */

/*# sourceMappingURL=header-map.css.map */
