/* ==========================================================================
   Footer styles - begin
   ========================================================================== */
/* common mixins - start */
/* common mixins - end */
/* mixins styles - start */
/* mixins styles - end */
/* ==========================================================================
   Footer style - begin
   ========================================================================== */
.mkdf-page-footer {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  z-index: 100;
  box-sizing: border-box;
}

.mkdf-page-footer .mkdf-footer-top-holder {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  background-color: #fefaf3;
  box-sizing: border-box;
}

.mkdf-page-footer .mkdf-footer-top-holder .mkdf-footer-top-alignment-center {
  text-align: center;
}

.mkdf-page-footer .mkdf-footer-top-holder .mkdf-footer-top-alignment-left {
  text-align: left;
}

.mkdf-page-footer .mkdf-footer-top-holder .mkdf-footer-top-alignment-right {
  text-align: right;
}

.mkdf-page-footer .mkdf-footer-top-holder .mkdf-footer-top-inner {
  box-sizing: border-box;
}

.mkdf-page-footer .mkdf-footer-top-holder .mkdf-footer-top-inner.mkdf-grid {
  padding: 73px 0;
}

.mkdf-page-footer .mkdf-footer-top-holder .mkdf-footer-top-inner.mkdf-full-width {
  padding: 73px 40px;
}

.mkdf-page-footer .mkdf-footer-top-holder a {
  font-size: 12px;
  color: #8b8b8b;
}

.mkdf-page-footer .mkdf-footer-top-holder a:hover {
  color: #f34f3f;
}

.mkdf-page-footer .mkdf-footer-bottom-holder {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  box-sizing: border-box;
  font-size: 12px;
  text-align: left;
  background-color: #fefaf3;
}

.mkdf-page-footer .mkdf-footer-bottom-holder .mkdf-footer-bottom-inner {
  box-sizing: border-box;
  color: #afafaf;
}

.mkdf-page-footer .mkdf-footer-bottom-holder .mkdf-footer-bottom-inner .mkdf-icon-widget-holder {
  color: #afafaf;
}

.mkdf-page-footer .mkdf-footer-bottom-holder .mkdf-footer-bottom-inner .mkdf-icon-widget-holder > * {
  color: inherit;
  font-size: 10px;
  letter-spacing: 0.2em;
  margin-left: 25px;
}

.mkdf-page-footer .mkdf-footer-bottom-holder .mkdf-footer-bottom-inner .mkdf-icon-widget-holder:hover {
  color: #f34f3f;
}

.mkdf-page-footer .mkdf-footer-bottom-holder .mkdf-footer-bottom-inner.mkdf-grid {
  border-top: 1px solid #eceae1;
  padding: 8px 0 17px;
}

.mkdf-page-footer .mkdf-footer-bottom-holder .mkdf-footer-bottom-inner.mkdf-full-width {
  padding: 19px 40px;
}

.mkdf-page-footer .mkdf-footer-bottom-holder .mkdf-footer-bottom-inner p {
  margin: 0;
  font-size: 12px;
}

.mkdf-page-footer .mkdf-footer-bottom-holder .mkdf-footer-bottom-inner .mkdf-grid-col-4:nth-child(1) {
  text-align: left;
  padding-top: 15px;
}

.mkdf-page-footer .mkdf-footer-bottom-holder .mkdf-footer-bottom-inner .mkdf-grid-col-4:nth-child(2) {
  text-align: center;
  padding-top: 17px;
}

.mkdf-page-footer .mkdf-footer-bottom-holder .mkdf-footer-bottom-inner .mkdf-grid-col-4:nth-child(3) {
  text-align: right;
  padding-top: 15px;
}

.no-touch body:not(.error404) .mkdf-page-footer.mkdf-footer-uncover {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 99;
  -webkit-transition: left 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
  -moz-transition: left 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
  transition: left 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
}

.mkdf-right-side-menu-opened .mkdf-page-footer.mkdf-footer-uncover {
  left: -270px;
}

/* ==========================================================================
   Footer style - end
   ========================================================================== */
/* ==========================================================================
   Footer styles - end
   ========================================================================== */

/*# sourceMappingURL=footer-map.css.map */
